@page "/"
<div style="text-align:justify; margin:10px">
    <h1 align="center">
        <img src="@AppInfo.AppLogo" alt="@AppInfo.AppTitle" title="@AppInfo.AppTitle" width="310" height="310" />
        <br />
        ویناریش
    </h1>
    <p>
        در روزگاری که در حال گذار از «عصر داده‌ها» به «عصر شبکه‌ها» هستیم؛ «دانستن»، شاید یکی از مهمترین واژگانی است که در این فرآیند می‌خوانیم، می‌نویسیم یا می‌شنویم. برای شناسایی، فهم و مدیریت «شبکه‌ای در هم تنیده» از کارها، وقایع و چیزها، «دانستن»، مفهومی زندگی‌بخش را می‌یابد. دانستنی که در آن «فرآیند دانایی» و رسیدن از «داده» به «دانش» به کمک اندیشه پیموده شده است.
    </p>
    <p>
        از سویی دیگر، همه‌ی چیزها درگیر این روان بی‌امان، «زمان» هستند. در مدیریت، «زمان» و «زمان‌بندی» از چنان درجه‌ای از اهمیت بخوردار است که شاید «نیاز به‌هنگام» بودن دریافت «داده‌ها و اخبار» و در پی آن «تصمیم‌ها» واقعیتی بدیهی باشد. چیکده‌ی سخن برای «ستاد‌های تصمیم‌سازی و تصمیم‌گیری» این است: با توجه به روند روزگاری که در آن زندگی می‌کنیم نیازی روزافزون به «دانستن به‌هنگام» داریم و هرگونه «دیرافتادگی» در «رسانش داده‌ها و اخبار» می‌تواند ویرانی‌هایی جبران‌ناپذیر را به بار آورد. پس نیاز داریم که «دیرافتادگی» را در «گردآوری» داده‌ها و اخبار به «کمترین زمان» دست‌یافتنی برسانیم.
    </p>
    <p>
        از این روی بر آن شدیم که در کاری اندیشمندانه برای «تصمیم‌سازان» و «مدیران» مجموعه‌های بزرگ صنعتی کشور این نیاز را پاسخ گوییم. «ویناریش» ابزاری است که در پرتوی فناوری‌ سایبری «دانستن به‌هنگام» را برای بازیگران عرصه‌ی «حمل و نقل ریلی» به ارمغان می‌آورد. دانستنی که برای «نگهداری و بازسازی» دستگاه‌ها و ابزارهای گران‌قیمت حمل و نقل ریلی بسیار مهم است. «ویناریش» چونان نگهبانی بر چکاد خویش، «دانستنی‌های به‌هنگام» را برای «مدیران و سرپرستان نگهداری و تعمیرات قطارها» گردآوری، پالایش، پردازش و رسانش می‌کند. آری به کمک فضای سایبری این داده‌ها در «هر زمان» و «هر مکان» در دسترس خواهد بود. سوی دیگر دست‌آورد «ویناریش»، صرفه‌جویی در هزینه و زمان کاربران است. از نگاه محیط زیستی دست‌آورد دیگر نیز کاهش مصرف کاغذ در فرآیندهای گزارش‌گیری و بایگانی داده‌ها است که این نکته مایه‌ی افتخار گروه سازنده‌ی «ویناریش» است. در همه‌ی فرآیند طراحی و پیاده‌سازی «ویناریش» مهم‌ترین اصل این بوده است که کار مهندسان و تکنسین‌های گرامی در فرآیند گزارش‌گیری و گزارش‌دهی ساده‌تر شود و اندکی آنان را به آسایش نزدیکتر کنیم.
    </p>
    <p>
        شاید بتوان مفهوم «نگهداری و تعمیرات» را در یک بازاندیشی معنایی در واژه‌ی «نگهداری» چکاند، اگر چنین برداشتی را به کار بریم کاربرد واژه‌ی «ویناریش»، که ساختی امروزی از واژه‌ی کهن پهلوی «ویناریشن» به معنی «نگهداری» است، برایمان فهم‌پذیر خواهد شد و این واژه در یک دگردیسی باری دیگر زنده می‌شود که ما چنین کردیم. ما واژه‌ای را از عهد واژگان کهن ایرانی به روزگار کنونی خویش آوردیم؛ به کمک دانش. آری، دانایی توانایی است.
    </p>
</div>