@page "/"
@namespace BlazorBoilerplate.Server.Pages
@using BlazorBoilerplate.CommonUI
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorBoilerplate &amp; Starter Kit (SSB)</title>
    <link rel="shortcut icon" type="image/x-icon" href="_content/BlazorBoilerplate.CommonUI/images/favicon.ico">
    <link rel="icon" type="image/x-icon" href="_content/BlazorBoilerplate.CommonUI/images/favicon.ico">
    <base href="~/" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">

    <link href="_content/BlazorBoilerplate.CommonUI/css/font-awesome.min.css" rel="stylesheet" />
    <link href="_content/BlazorBoilerplate.CommonUI/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="_content/BlazorBoilerplate.CommonUI/css/fonts.css" rel="stylesheet" />
    <link href="_content/BlazorBoilerplate.CommonUI/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <!-- SSB -->
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>
    <!-- load remaining JS after blazor boot loads -->
    <script src="_content/MatBlazor/dist/matBlazor.js"></script>
    <script src="_content/BlazorBoilerplate.CommonUI/javascript/signalr.min.js"></script>
    <script src="_content/BlazorBoilerplate.CommonUI/javascript/chatClient.js"></script>

    <link href="_content/BlazorBoilerplate.CommonUI/css/Messaging.css" rel="stylesheet" />
    <link href="_content/BlazorBoilerplate.CommonUI/css/persian-datepicker.min.css" rel="stylesheet" />
    <link href="_content/BlazorBoilerplate.CommonUI/other/DataTables/datatables.min.css" rel="stylesheet" type="text/css" />

    <script src="_content/BlazorBoilerplate.CommonUI/javascript/ScrollPosition.js"></script>
    <script src="_content/BlazorBoilerplate.CommonUI/javascript/jquery-3.4.1.min.js"></script>
    <script src="_content/BlazorBoilerplate.CommonUI/javascript/moment-with-locales.min.js"></script>
    <script src="_content/BlazorBoilerplate.CommonUI/javascript/moment-jalaali.js"></script>
    <script src="_content/BlazorBoilerplate.CommonUI/javascript/persian-date.min.js"></script>
    <script src="_content/BlazorBoilerplate.CommonUI/javascript/persian-datepicker.min.js"></script>
    <script src="_content/BlazorBoilerplate.CommonUI/javascript/hammer.min.js"></script>
    <script src="_content/BlazorBoilerplate.CommonUI/other/DataTables/datatables.min.js"></script>
    <script src="_content/BlazorBoilerplate.CommonUI/javascript/DataTable.js"></script>
    <script src="_content/BlazorBoilerplate.CommonUI/javascript/Title.js"></script>
</body>
</html>